

div {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

button {
    border: none;
    padding: 48px 24px;
    cursor: pointer;
    background: rgb(241, 141, 10);
    color: rgb(0, 0, 0);
    margin: 30px;
    border-radius: 12px;
    font-family: 'Old Standard TT', serif;
  }

button:hover {
    background-color:  rgb(243, 88, 36);
    color: white;
  }

p {
    color: aliceblue;
  }