nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px; 
    width: 100%;
    background-color: #f39c12;
}

li {
    float: right;
  }
  
  a {
    display: block;
    padding: 8px;
    
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: rgb(234, 74, 20);
    color: white;
  }