header {
	display: flex;
	flex-direction: row;
	background-color: #ff6600;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	overflow-y: hidden;
}

.header-logo:hover {
	cursor: pointer;
}

.burger-image {
	width: 30px;
	height: 30px;
}

.header-list {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 25px 0 0;
}

.header-list > li {
	display: block;
	padding: 0;
	font-family: Crimson Text;
	font-size: 24px;
	text-align: center;
	color: #000000;
}

.header-list > li > a {
	text-decoration: none;
	color: #000000;
}

.header-link1 {
	margin-right: 6vw;
}

.header-link2 {
	margin-right: 10vw;
}

.header-list > li > a:visited {
	color: #000000;
}

.header-list > li > a:hover {
	color: #ffffff;
}

.img-li {
	height: 30px;
	position: absolute;
	left: 89vw;
	float: left;
	display: block;
	width: 9vw;
	padding: 0;
	margin: 0;
}

.img-li > div {
	background-color: white;
}
