header {
	display: flex;
	flex-direction: row;
	width: 100vw;
	background-color: #ff6600;
	justify-content: space-between;
}

.burger-image {
	width: 30px;
	height: 30px;
}

.header-list {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.header-list > li > a {
	text-decoration: none;
	padding: 20px;
}

