.nav-bar-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 30px;
	width: 100%;
	background-color: #f39c12;
}

.nav-bar-list > li {
	display: block;
	padding: 8px;
	text-decoration: none;
	color: black;
}
/* Change the link color on hover */
.nav-bar-list > li:hover {
	background-color: rgb(243, 88, 36);
	color: white;
}

.nav-list-link {
	text-decoration: none;
}
